# Database connection details (Development)
PG_DB=your_dev_db_name
PG_USER=your_dev_db_user
PG_PASS=your_dev_db_password
PG_HOST=postgres # Or localhost if running outside Docker
PG_PORT=5432

# Database connection details (Testing)
PG_DB_TEST=your_test_db_name
PG_USER_TEST=your_test_db_user
PG_PASS_TEST=your_test_db_password
PG_HOST_TEST=postgres # Or a different host for your test DB
PG_PORT_TEST=5432

# Local AUTH variables
POOL_ID=Test_ID
CLIENT_ID=Test_ID
CLIENT_SECRET=Test_Secret
AWS_ACCESS_KEY_ID=Test_ID
AWS_SECRET_ACCESS_KEY=Test_Key
AWS_REGION=Test_Region

# Other environment variables
ENV=dev
POOL_MIN_SIZE=2
POOL_MAX_SIZE=70

# Application settings
API_VERSION=v1
DEBUG=true

# pgAdmin
PGADMIN_DEFAULT_EMAIL=cue@cue.com
PGADMIN_DEFAULT_PASSWORD=cue

# Age off variables
ATHENA_DB_NAME=test
ATHENA_OUTPUT_BUCKET=test

# File PDF report downloads
FILE_REPORT_BUCKET=your-file-report-download-bucket
