      <table>
        <tr>
          <th>File Name</th>
          <td>{{ file_name }}</td>
        </tr>
         <tr>
          <th>Uploaded By</th>
          <td>{{ uploader_name }}</td>
        </tr>
         <tr>
          <th>Collection</th>
          <td>{{ collection_name }}</td>
        </tr>
        <tr>
          <th>Date Scanned</th>
          <td>{{ date_scanned }}</td>
        </tr>
        <tr>
          <th>Scan Result</th>
          <td><strong>{{ scan_result }}</strong></td>
        </tr>
        <tr>
          <th>Detected Threats</th>
          <td>{{ virusName }}</td>
        </tr>
        <tr>
          <th>File ID (Key)</th>
          <td><small>{{ file_id }}</small></td>
        </tr>
      </table>